*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
!/.idea/
app/app.iml
app/local.properties
app/.idea/.gitignore
app/.idea/modules.xml
app/.idea/caches/build_file_checksums.ser
app/gradlew
app/gradlew.bat
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
